# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# Raylib will need to be recompiled per-platform
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Build is different from system to system, and gets rebuilt by CMake
build/

# Ignore generated cmake files
d
